/* CSS= cascading style sheet ( folha de estilo em cascata*/

body{
      background-color: rgb(44,18,18);
}
input{
      padding-top: 6px;
      padding-right: 8px;
      padding-bottom: 6px;
      padding-left: 8px;
      /*short handing*/
      padding:6px 8px 6px 8px
      
}